.carrossel__titulo{
    font-family: var(--fonte-principal);
    text-align: center;
    background-color: var(--branco);
    padding: 1em 0 0.5em 0;
    color: var(--laranja);
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    line-height: 27px;
    text-transform: uppercase;

}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-scrollbar{
    display: none;
}

.swiper-pagination{
    margin: .5em;
    position: initial;
}

.card{
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descrição{
    display: flex;
}

.descrição__titulo{
    font-family: var(--fonte-principal);
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
}

.descrição__titulo-livro{
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 27px;
}

.descrição__texto{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.85);
}

.card__botões{
    display: flex;
    justify-content: space-between;
}
.botões{
    display: flex;
}

.botões__item{
    padding: .5em;
}

.botões__ancora{
}
