
.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}


.cabeçalho {
    background-color: var(--branco);
    display: flex;
    /*Transformou o cabeçalho em um flex container, e filhos viraram flex items*/
    justify-content: space-between;
    /*Separa os elementos com o mesmo espaço entre eles*/
    align-items: center;
    position: relative;
    /*Serve para liberar o absolute do lista__menu*/
}

.container {
    display: flex;
    align-items: center;
}

.container__botão{
    display: none
}

.container__imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;          /*100% a baixo do cabeçalho*/
    width: 60vw;  /*Pega a largura da tela 60% "viewport width"*/

}

.container__botão:checked~.lista__menu /*Pseudo classe css, estrutura condicional; Se o input botão estiver check, ir para lista menu e adicionar tal ação*/ { 
    display: block;
}

.lista-menu__item,
.lista-menu__titulo {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
    font-style: normal;

    
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text; /*para funcionar o back. clip em outros navegadores*/
    -webkit-text-fill-color: transparent;
    background-clip: text; /*Prende a cor de background só onde tem texto*/
    text-transform: uppercase;
}